<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gerenciador de Abastecimentos com Spring Boot</title>
</head>
<body>
	<h1>Abastecimento buscado pelo Id</h1>
	
	<p>ID: [[${abastecimento.idabastecimento}]]</p>
	<p>Veiculo: [[${abastecimento.veiculo}]]</p>
	<p>Usuario: [[${abastecimento.usuario}]]</p>
	<p>Dia: [[${abastecimento.dia}]]</p>
	<p>Hora: [[${abastecimento.hora}]]</p>
	<p>Km Atual: [[${abastecimento.kmatual}]]</p>
	<p>Valor: [[${abastecimento.valor}]]</p>
	<p>Litros: [[${abastecimento.litros}]]</p>
	<p>Tipo de combustível: [[${abastecimento.tipocombustivel}]]</p>
	<hr>
	
	<a th:href="@{/}">Voltar</a>
</body>
</html>
